<div class="container-fluid" *ngIf="quiz">

    <div class="row">
        <div class="col-6" style="overflow: auto; height: 100vh">
            <div>
                <div class="text-center" style="padding: 15px">
                    <a (click)="editMetadata()" class="quiz-title"> <span style="font-size: 2.5rem;">{{quiz.name}}</span><br>
                    Start date: {{quiz.startTime | date: 'mediumDate'}}</a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:110px">Date</th>
                            <th>Question</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let quizItem of quiz.quizItems; let idx = index" style="cursor: pointer">
                            <td (click)="openQuizItem(quizItem.quizItemId)">{{getQuizItemDate(idx) | date: 'EEE d.MMM.yy'}}</td>
                            <td (click)="openQuizItem(quizItem.quizItemId)">{{quizItem.question}}</td>
                            <td><button type="button" class="btn btn-primary btn-sm" (click)="deleteQuizItem(quizItem.quizItemId)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6" *ngIf="quizItem" style="overflow: auto; height: 100vh;">
            <quiz-item-edit [quiz]="quiz" [quizItem]="quizItem"></quiz-item-edit>
        </div>


    </div>

</div>