<!-- Modal template start -->
<ng-template #unsavedQuizItemContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Unsaved changes</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>You have not saved the changes to the current quiz item. Do you want to continue (your changes will be
            lost)?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Ok click')">Ok</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel click')">Cancel</button>
    </div>
</ng-template>
<!-- Modal template end -->


<!-- Modal template start -->
<ng-template #confirmDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the quiz item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Ok click')">Ok</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel click')">Cancel</button>
    </div>
</ng-template>
<!-- Modal template end -->


<div class="container-fluid" *ngIf="quiz">

    <div class="row">
        <div class="col-6" style="overflow: auto; height: 100vh">
            <div class="row">

                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                            (click)="router.navigate(['/'])" [innerHTML]="icons.back"></button>
                </div>
                <div class="col-8 text-center">
                    <H1>{{quiz.name}}</H1>
                    Start date: {{quiz.startTime | date: 'mediumDate'}}<br>
                    <quiz-status [phase]="quiz.phase" placement="bottom"></quiz-status>
                </div>
                <div *ngIf="!quiz.isCompleted()" class="col-2" style="display: flex;align-items: center;">
                    <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                            (click)="editMetadata()" [innerHTML]="icons.edit"></button>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width:110px">Date</th>
                    <th>Question</th>
                    <th style="width:121px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quizItm of quiz.quizItems" style="cursor: pointer" (click)="openQuizItem(quizItm, unsavedQuizItemContent)"
                    [ngClass]="{'table-primary':quizItem && (quizItem.quizItemId === quizItm.quizItemId)}">
                    <td>{{quizItm.date | date: 'EEE dd.&nbsp;MMM yy'}}</td>
                    <td>{{quizItm.question}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                                (click)="moveUp(quizItm)" [innerHTML]="icons.up" *ngIf="!quizItm.isHistoric()" [disabled]="quizItm.isActiveToday()"></button>

                        <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                                (click)="moveDown(quizItm)" [innerHTML]="icons.down" *ngIf="!quizItm.isHistoric()" [disabled]="quizItm.isActiveToday()"></button>

                        <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                                (click)="deleteQuizItem(quizItm, confirmDeleteContent)" [innerHTML]="icons.remove" *ngIf="!quizItm.isHistoric()" [disabled]="quizItm.isActiveToday()"></button>
                        <span [innerHtml]="icons.lock" *ngIf="quizItm.isHistoric()" class="octicon-symbol" style="float:right" ngbPopover="Quiz items in the past are not editable" triggers="mouseenter:mouseleave" placement="left"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="!quiz.isCompleted()" class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-outline-primary" (click)="addQuizItem()">Add quiz item</button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center footnote">
                    <br><br>
                    Quiz items will not be displayed on <b>public holidays</b> in Norway:
                    <ul style="list-style-type: none; margin:0; padding:0">
                        <li *ngFor="let holiday of publicHolidays">{{ holiday | date: 'EEE dd. MMM yy'}}</li>
                    </ul>
                    Please keep in mind that images and texts posted in CoffeeQuiz are publicly available.<br>Only information classified as <strong>Open</strong> can be posted.

                </div>
            </div>
        </div>
        <div class="col-6" *ngIf="quizItem" style="overflow: auto; height: 100vh; padding-bottom: 18px">
            <quiz-item-edit [quiz]="quiz" [quizItem]="quizItem" (saveEvent)="saveQuizItem($event)" (cancelEvent)="cancelEditQuizItem()"></quiz-item-edit>
        </div>


    </div>

</div>