<div class="container-fluid" *ngIf="quiz">

    <div class="row">
        <div class="col-6" style="overflow: auto; height: 100vh">
            <div>
                <div class="text-center" style="padding: 15px">
                    <a (click)="editMetadata()" class="quiz-title"> <span style="font-size: 2.5rem;">{{quiz.name}}</span><br>
                    Start date: {{quiz.startTime | date: 'mediumDate'}}</a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:110px">Date</th>
                            <th>Question</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let quizItem of quiz.quizItems; let idx = index" style="cursor: pointer">
                            <td (click)="openQuizItem(quizItem.quizItemId)">{{getQuizItemDate(idx) | date: 'EEE d.MMM.yy'}}</td>
                            <td (click)="openQuizItem(quizItem.quizItemId)">{{quizItem.question}}</td>
                            <td><button type="button" class="btn btn-primary btn-sm" (click)="deleteQuizItem(quizItem.quizItemId)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6" *ngIf="quizItem" style="overflow: auto; height: 100vh;">
            <div class="right-content">
                <div class="quiz-item-edit">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <textarea class="form-control" id="question" [(ngModel)]="quizItem.question"></textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="alt1">Alternative 1</label>
                            <input class="form-control" id="alt1" [(ngModel)]="quizItem.alternatives[0]" placeholder="Alternative 1">
                        </div>

                        <div class="form-group col-4">
                            <label for="alt2">Alternative 2</label>
                            <input class="form-control" id="alt2" [(ngModel)]="quizItem.alternatives[1]" placeholder="Alternative 2">
                        </div>

                        <div class="form-group col-4">
                            <label for="alt3">Alternative 2</label>
                            <input class="form-control" id="alt3" [(ngModel)]="quizItem.alternatives[2]" placeholder="Alternative 3">
                        </div>
                    </div>
                    <file-upload [quizId]="quiz._id" [quizItem]="quizItem"></file-upload>
                </div>
                <div class="quiz-item-preview">
                    <quiz-item-preview [imageId]="quizItem.imageId" [quizId]="quiz._id" [quizItem]="quizItem"></quiz-item-preview>
                </div>
            </div>
        </div>


    </div>

</div>