button {
    cursor: pointer;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
}

.quiz-item-edit {
    width: 100%;
    flex: 1;
}

.quiz-item-preview {
    width:600px;
    margin: 0 auto;
}

a.quiz-title {
    cursor: pointer;
}

a.quiz-title:link, a.quiz-title:visited {
    text-decoration: none;
}


a.quiz-title:hover, a.quiz-title:active {
    color: #007bff;
    text-decoration: underline;
}
