<div class="modal-header">
    <h4 class="modal-title">{{createMode ? "Create quiz" : "Edit quiz"}}</h4>
    <button *ngIf="!createMode" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="quiz">

        <div class="form-group">
            <label for="title">Quiz title</label>
            <input class="form-control" id="title" [(ngModel)]="name">
        </div>

        <div class="form-group">
            <label for="date">Start date</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="date"
                       name="dp" [(ngModel)]="startTime" ngbDatepicker #d="ngbDatepicker">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <!--suppress HtmlUnknownTarget -->
                    <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!name || !startTime">Save</button>
    <button type="button" *ngIf="!createMode" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>