<div class="modal-header">
    <h4 class="modal-title">Edit quiz</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="quiz">

        <div class="form-group">
            <label for="title">Quiz title</label>
            <input class="form-control" id="title" [(ngModel)]="name">
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input class="form-control" id="date" [(ngModel)]="startTime">
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>