<!-- Modal template start -->
<ng-template #confirmDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the quiz?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Ok click')">Ok</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel click')">Cancel</button>
    </div>
</ng-template>
<!-- Modal template end -->

<!-- Modal template start -->
<ng-template #filterPopoverContent>
        <div class="btn-group btn-group-toggle">
            <label class="btn-outline-secondary btn-sm" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="filter.completed"> COMPLETED
            </label>
            <label class="btn-outline-primary btn-sm" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="filter.planned"> PLANNED
            </label>
            <label class="btn-outline-success btn-sm" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="filter.started"> STARTED
            </label>

        </div>
</ng-template>
<!-- Modal template end -->


<div class="container-fluid" *ngIf="quizes">

    <h1 style="text-align: center">Quiz Admin</h1>

    <div class="row">
        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Question count</th>
                        <th>Created by</th>
                        <th>Status <button type="button" class="btn btn-sm"
                                           [ngClass]="{'btn-outline-primary octicon-button': filter.allPhasesSelected(), 'btn-primary octicon-button-primary': !filter.allPhasesSelected()}"
                                           [ngbPopover]="filterPopoverContent" [innerHTML]="settingsIcon" style="padding: 2px 4px"></button></th>
                        <th>{{filter.allPhasesSelected()}}</th>
                        <th *ngIf="isDeleteColumnVisible()"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quiz of quizes | quizfilter: filter" style="cursor: pointer">
                        <td (click)="quizClicked(quiz.id)">{{quiz.name}}</td>
                        <td (click)="quizClicked(quiz.id)">{{quiz.startTime | date: 'EEE dd. MMM yy'}}</td>
                        <td (click)="quizClicked(quiz.id)">{{quiz.endTime  | date: 'EEE dd. MMM yy'}}</td>
                        <td (click)="quizClicked(quiz.id)">{{quiz.numberOfItems}}</td>
                        <td (click)="quizClicked(quiz.id)">{{quiz.createdBy}}</td>
                        <td (click)="quizClicked(quiz.id)"><quiz-status [phase]="quiz.phase" placement="left"></quiz-status></td>
                        <td><button type="button" *ngIf="quiz.phase !== 'planned'" class="btn btn-outline-primary btn-sm octicon-button"
                                    (click)="router.navigate(['/stats/' + quiz.id])" [innerHTML]="graphIcon" style="z-index: -1"></button></td>
                        <td *ngIf="isDeleteColumnVisible()"><button type="button" *ngIf="quiz.numberOfItems === 0" class="btn btn-outline-primary btn-sm octicon-button"
                                (click)="deleteQuiz(quiz, confirmDeleteContent)" [innerHTML]="removeIcon" style="z-index: -1"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-0 col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col text-center"><button type="button" class="btn btn-outline-primary" (click)="createNewQuiz()">Create new quiz</button></div>
    </div>
</div>

