/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Statoil Display Medium', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
}

.text-center {
    text-align: center;
}

button {
    cursor: pointer;
}

.octicon-button, .octicon-symbol {
    fill: #007bff;
    font-size:1px;
}

.octicon-button:hover {
    fill: white;
}

.octicon-button:hover:disabled {
    fill: #007bff;
}

.octicon-button-primary {
    fill: white;
    font-size: 1px;
}

.octicon-button-primary:hover {
    fill: 007bff;
}