<div *ngIf="quiz" class="container-fluid">

    <div class="row">

        <div class="col-2">
            <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                    (click)="router.navigate(['/'])" [innerHTML]="backIcon"></button>
        </div>
        <div class="col-8 text-center">
            <H1>Statistics</H1>
            <H3>{{quiz.name}}</H3>
            Start date: {{quiz.startTime | date: 'mediumDate'}}<br>
            <quiz-status [phase]="quiz.phase" placement="bottom"></quiz-status>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-10">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th class="middle">Number of questions</th>
                    <th class="middle">Questions with responses</th>
                    <th class="middle">Total number of responses</th>
                    <th class="middle">Total correctness</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="middle">{{quiz.quizItems.length}}</td>
                    <td class="middle">{{overallStats.numberOfQuestionsWithResponse}}</td>
                    <td class="middle">{{overallStats.totalNumberOfResponses}}</td>
                    <td class="middle">{{overallStats.totalCorrectness | number: '0.0-1'}} %</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-0 col-lg-1"></div>
    </div>

    <br>

    <div class="row">
        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-10">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Question</th>
                    <th class="middle">Number of responses</th>
                    <th class="middle">Correctness</th>
                    <th class="middle">Result distribution
                </thead>
                <tbody>
                <tr *ngFor="let stat of statsPrQuestion">
                    <td>{{stat.quizItem.question}}</td>
                    <td class="middle">{{stat.correct + stat.incorrect}}</td>
                    <td class="middle">{{(stat.correct * 100 / (stat.correct + stat.incorrect)) | number: '0.0-1' }} %</td>
                    <td class="middle">
                        <div style="display: block; width: 160px; margin: auto">
                            <canvas baseChart
                                    [data]="stat.pieChartData.data"
                                    [labels]="stat.pieChartData.labels"
                                    [chartType]="'pie'"
                                    [options]="chartOptions"
                                    [colors]="stat.pieChartData.colors"
                                    [style.height]= "'80px'"></canvas>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-0 col-lg-1"></div>
    </div>
</div>

