<div class="container-fluid">

    <div class="row">

        <div class="col-2">
            <button type="button" class="btn btn-outline-primary btn-sm octicon-button"
                    (click)="router.navigate(['/'])" [innerHTML]="backIcon"></button>
        </div>
        <div class="col-8 text-center">
            <H1>Statistics</H1>
            <H3>{{quiz.name}}</H3>
            Start date: {{quiz.startTime | date: 'mediumDate'}}<br>
            <quiz-status [phase]="quiz.phase" placement="bottom"></quiz-status>
            <br>
            <br>
        </div>
    </div>


    <div *ngIf="quiz" class="row">
        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Question</th>
                    <th>Result count</th>
                    <th>Correctness</th>
                    <th>Alt 1s</th>
                    <th>Alt 2s</th>
                    <th>Alt 3s</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let stat of statistics">
                    <td>{{stat.quizItem.question}}</td>
                    <td>{{stat.correct + stat.incorrect}}</td>
                    <td>{{(stat.correct * 100 / (stat.correct + stat.incorrect)) | number: '0.0-1' }} %</td>
                    <td>{{stat[1]}}</td>
                    <td>{{stat[2]}}</td>
                    <td>{{stat[3]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-0 col-lg-1"></div>
    </div>
</div>

