
.radio-label {
    padding-left: 0;
    padding-right: 25px;
}

.quiz-item-preview {
    width:600px;
    margin: 0 auto;
}

.quiz-item-edit {
    width: 100%;
    flex: 1;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
}

.alert-success {
    border-radius: 0.2rem;
    padding-left: 3px;
}